
body {
    background-color: rgb(230, 204, 169);
}

#logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

#titulo {
    text-shadow: 3px 2px  rgb(218, 169, 105);
}

#comida-seleccionada {
    text-align: center;
}

#contenido-principal {
    display: flex;
    align-items: stretch;
}

#comida-lista {
    min-width: 200px;
    text-align: center;
}

#comida-lista button {
    background-color: rgb(220, 178, 124);
    display: block;
    margin-bottom: 10px;
    width: 95%;
    font-size: 16px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: rgb(218, 165, 96);
    border-radius: 6px;
    transition: 0.5s;
}

#comida-lista button:hover,
#comida-lista button.seleccionado {
    background-color: rgb(211, 160, 94);
    border-color: rgb(209, 161, 97);
    width: 100%;
    transition: 0.5s;
}

.bloque-fondo {
    background-color: rgba(255, 255, 255, 0.336);
    margin: 20px;
    padding: 10px;
    border-radius: 16px;
}

.alineado-centrado {
    display: flex;
    align-items: center;
}

.caja {
    border-style: solid;
    border-radius: 16px;
    background-color: burlywood;
    margin: 15px;
    border-style: none;
}

.caja h2 {
    margin: 6px;
    text-align: center;
}

.caja img {
    height: 150px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
